---
version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    groups:
      cargo-all:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    groups:
      github-all:
        patterns:
          - "*"
  - package-ecosystem: rust-toolchain
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    groups:
      github-all:
        patterns:
          - "*"
