---
name: Scorecard

on:
  branch_protection_rule:
  push:
    branches:
      - main
  schedule:
    - cron: '40 15 * * 3'

permissions: read-all

jobs:
  analyze:
    name: Analyze
    if: >
      github.event.repository.default_branch == github.ref_name ||
      github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      security-events: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: scorecard.sarif
          results_format: sarif
          publish_results: true
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: scorecard.sarif
      - uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        with:
          sarif_file: scorecard.sarif
